.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e30d7c;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #e30d5b;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.button-text {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: none;
  color: #3f0c26;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

.button-text:hover {
  color: #7c184c;
}

.content-section {
  margin: 3rem 0 6rem 0;
  padding: 0 15%;
}

.content-section h2 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  margin: 2rem auto;
  color: #b6cad5;
}

#overview-section {
  margin: -8rem 0 3rem 0;
  padding: 8rem 15%;
  color: #222c31;
  text-align: center;
}

#overview-section h2 {
  font-size: 2.5rem;
  margin: 2rem auto;
  color: #1d161a;
}

#overview-section h2 strong {
  color: #e30d7c;
}

#overview-section p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
}
